@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}
body.bg2 {
    background-color: #bfcabd;
}
body.bg3 {
    background-color: #c2d776;
}
body.bg4 {
    background-color: #606060;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
}
.header__inner {
    padding: 20px;
    position: relative;
}
.header__inner h1 {
    font-weight: 200;
    font-size: 40px;
    letter-spacing: -0.1vw;
}
.header__inner h1 a {
    font-weight: 200;
    font-size: 40px;
    letter-spacing: -0.1vw;
    line-height: 1;
    margin-bottom: 5px;
    display: inline-block;
}
.header__inner p {
    color: #956b6b;
}
.header__inner .link {
    position: absolute;
    right: 20px;
    top: 20px;
}
.header__inner .link a {
    background-image: url("../svg/arrow.svg");
    font-weight: 200;
    padding-right: 20px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
}
.footer__inner {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-family: "Poppins";
}

.footer__inner nav ul {
    display: flex;
}
.footer__inner nav li a {
    margin-right: 5px;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 200;
}
.footer__inner nav li.active a {
    text-emphasis: circle;
}