@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fontN: "nanumSquareNeo";
  --fontG: "GmarketSans";
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../img/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* main__icons */
.main__icons .icon {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}
.main__icons .icon a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.main__icons .icon img {
  width: 50px;
  border-radius: 50%;
}
.main__icons .icon span {
  font-family: var(--fontN);
  margin-top: 8px;
  color: #fff;
  white-space: nowrap;
  font-size: 13px;
}

/* layer_wrap */
.layer__inner .layer {
  width: 80vw;
  height: 90vh;
  /* background-color: #ccc; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--fontN);
}
.layer__inner .layer .layer_content {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 49, 103, 0.6588235294);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 5%;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.layer__inner .layer .layer_content::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.layer__inner .layer .layer_content::-webkit-scrollbar-track {
  width: 4px;
  background-color: transparent;
}
.layer__inner .layer .layer_content::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #ccc;
  border-radius: 10px;
}
.layer__inner .layer .layer_content .intro h3 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 300;
}
.layer__inner .layer .layer_content .intro span {
  display: block;
  margin-bottom: 10px;
}
.layer__inner .layer .layer_content .intro .mail {
  position: relative;
  display: block;
  font-size: 12px;
  color: #c9c9c9;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.layer__inner .layer .layer_content .intro .mail::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -14px;
  left: 0;
}
.layer__inner .layer .layer_content .intro p {
  line-height: 1.7;
}
.layer__inner .layer .layer_content .intro .style1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}
.layer__inner .layer .layer_content .intro .style2 {
  font-size: 16px;
  opacity: 0.6;
}
.layer__inner .layer .layer_content .skill {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.layer__inner .layer .layer_content .skill h3 {
  width: 100%;
  border-bottom: 1px solid #fff;
  font-weight: 100;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.layer__inner .layer .layer_content .skill dl {
  width: calc(50% - 5px);
}
.layer__inner .layer .layer_content .skill dl dt {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 10px;
}
.layer__inner .layer .layer_content .skill dl dd {
  margin-bottom: 20px;
  line-height: 1.6;
}
.layer__inner .layer .layer_content .picture h3 {
  width: 100%;
  border-bottom: 1px solid #fff;
  font-weight: 100;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
.layer__inner .layer .layer_content .picture ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.layer__inner .layer .layer_content .picture ul li {
  width: calc(25% - 7.5px);
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
}
.layer__inner .layer .layer_content .picture ul li img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .layer__inner .layer {
    width: 90vw;
    height: 90vh;
  }
}
@media (max-width: 960px) {
  .layer__inner .layer {
    width: 95vw;
    height: 95vh;
  }
  .layer__inner .layer .layer_content .picture ul li {
    width: calc(33.333333% - 7.5px);
  }
}
@media (max-width: 800px) {
  .layer__inner .layer .layer_content .skill {
    flex-direction: column;
  }
  .layer__inner .layer .layer_content .skill dl {
    width: 100%;
  }
  .layer__inner .layer .layer_content .picture ul li {
    width: calc(50% - 7.5px);
  }
}
@media (max-width: 600px) {
  .layer__inner .layer .layer_content .picture ul li {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */