<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <header id="header" class="container">
            <h1 class="logo">기능건설</h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">회사소개</a>
                        <ul>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                        </ul>
                    </li>
                    <li><a href="#">회사소개</a>
                        <ul>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                        </ul>
                    </li>
                    <li><a href="#">회사소개</a>
                        <ul>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                        </ul>
                    </li>
                    <li><a href="#">회사소개</a>
                        <ul>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                            <li><a href="">회사소개</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <article id="slider">
            <div class="slider_wrap">
                <div class="slider">
                    <img src="./assets/image/slider1.png" alt="1">
                    <div class="text">
                        <h3>지속 가능한 경영</h3>
                        <p>윤리 경영, 품질 경영</p>
                    </div>
                </div>
                <div class="slider">
                    <img src="./assets/image/slider2.png" alt="2">
                    <div class="text">
                        <h3>사업분야</h3>
                        <p>건축사업 토목사업</p>
                    </div>
                </div>
                <div class="slider">
                    <img src="./assets/image/slider3.png" alt="3">
                    <div class="text">
                        <h3>사업분야</h3>
                        <p>안전 경영, 환경 경영</p>
                    </div>
                </div>
            </div>
            <div class="slider_link">
                <ul>
                    <li>
                        <a href="#">
                            <img src="./assets/image/link01.png" alt="1">
                            <span>asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./assets/image/link02.png" alt="2">
                            <span>asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./assets/image/link03.png" alt="3">
                            <span>asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./assets/image/link04.png" alt="4">
                            <span>asdf</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./assets/image/link05.png" alt="5">
                            <span>asdf</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <main id="main" class="container">
            <section class="banner">
                <img src="./assets/image/link01.png" alt="">
                <div class="text">
                    <h3>기능 건설 박물관 개장</h3>
                    <p>기능 건설 역사가 담겨있는 박물관에 놀러오세요!! 다양한 건설 경험을 미리 할 수 있습니다.</p>
                </div>
                <a href="#">
                    <img src="./assets/image/Arrow 1.png" alt="">
                </a>
            </section>
            <section class="notice">
                <div class="title">
                    <ul>
                        <li class="active"><a href="">공지사항</a></li>
                        <li><a href="">갤러리</a></li>
                    </ul>
                </div>
                <div class="cont">
                    <div>
                        <ul>
                            <li><a href="">박물관 오픈 날짜 확정</a><span>2024.03.21</span></li>
                            <li><a href="">임직원 인사이동 안내</a><span>2024.03.20</span></li>
                            <li><a href="">사내문화 지침 안내</a><span>2024.03.01</span></li>
                            <li><a href="">주주총회 안내 사항</a><span>2024.02.20</span></li>
                            <li><a href="">새해맞이 사내 이벤트</a><span>2024.01.04</span></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href=""><img src="./assets/image/link01.png" alt=""></a></li>
                            <li><a href=""><img src="./assets/image/link03.png" alt=""></a></li>
                            <li><a href=""><img src="./assets/image/link04.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer" class="container">
            <div class="footer1"></div>
            <div class="footer2">
                <div class="menu"></div>
                <div class="copy"></div>
            </div>
        </footer>
    </div>
    <script>
        $(function () {
            const tabBtn = $('.notice > .title').find('ul> li');
            const tabCont = $('.notice .cont > div');
            tabCont.hide().eq(0).show()
            tabBtn.click(function(e){
                e.preventDefault();
                const index = $(this).index();
                // alert(index)
                $(this).addClass('active').siblings().removeClass('active')
                tabCont.eq(index).show().siblings().hide();
            })
            let currentIndex = 0; // 현재 이미지 설정 변수
            setInterval(() => {
                let nextIndex = (currentIndex + 1) % 3;
                $(".slider").eq(nextIndex).fadeIn(500);
                $(".slider").eq(currentIndex).fadeOut(500);
                currentIndex = nextIndex;
            }, 3000);

            $(".nav>ul>li").mouseenter(function () {
                $(this).find('ul').slideDown(300);
            })
            $(".nav>ul>li").mouseleave(function () {
                $(this).find('ul').slideUp(300);
            })
        })
    </script>
</body>
</html>