@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

:root {
  --fontN: "nanumSquareNeo";
  --fontG: "GmarketSans";
  --black: #000;
  --black100: #111;
  --black200: #444;
  --black300: #666;
  --black400: #bbb;
  --black500: #eee;
  --white: #fff;
  --white100: #f1f1f1;
  --white200: #e7e7e7;
  --white300: #dddddd;
  --white400: #d1d1d1;
  --white500: #c7c7c7;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-bottom: 1px solid #dcdcdc;
}
#header h1 {
  margin-bottom: 20px;
  text-align: center;
}
#header h1 a {
  font-family: var(--fontG);
  font-size: 4vw;
  color: #112d86;
}
@media (max-width: 800px) {
  #header h1 a {
    font-size: 42px;
  }
}
#header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#header nav ul li {
  margin: 2px;
}
#header nav ul li a {
  display: block;
  font-family: var(--fontN);
  /* color: #112d86; */
  border: 1px solid #112d86;
  padding: 10px 20px;
  white-space: nowrap;
}

.main__menu {
  padding: 40px 40px;
  border-bottom: 1px solid #dcdcdc;
}
.main__menu ul li a {
  color: #112d86;
  font-family: var(--fontN);
  line-height: 1.7;
}
.main__menu ul li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.main__sample .sample {
  padding: 40px 40px;
  border-bottom: 1px dashed #112d86;
}
.main__sample .sample h3 {
  font-family: var(--fontG);
  font-size: 30px;
  margin-bottom: 10px;
  color: #112d86;
}
.main__sample .sample p {
  font-size: 16px;
  font-family: var(--fontN);
  margin-bottom: 10px;
  line-height: 1.7;
  color: var(--black300);
}
.main__sample .sample p.strong {
  font-size: 20px;
  color: var(--black00);
}
.main__sample .sample .result {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #112d86;
  border-radius: 10px;
}
.main__sample .sample .info {
  padding: 20px;
  background-color: #f4f8fa;
  border-left: 3px solid #35a6c9;
}
.main__sample .sample .info a {
  color: #2b8fad;
  text-decoration: underline;
}
.main__sample .sample .info p {
  margin-bottom: 5px;
}
@media (max-width: 800px) {
  .main__sample .sample {
    padding: 40px 10px;
    border-bottom: 1px dashed #112d86;
  }
}/*# sourceMappingURL=style.css.map */